APP_ENV=development
DATABASE_URL=sqlite:///./work/career_cards.db
WEB_ORIGIN=http://127.0.0.1:3000
OCR_PROVIDER=hunyuan
OCR_CLOUD_ALLOWED=false
HUNYUAN_OCR_BASE_URL=http://127.0.0.1:8081/v1
HUNYUAN_MODEL_NAME=HYVL
HUNYUAN_REQUEST_TIMEOUT_SECONDS=120
GOOGLE_SHEETS_ENABLED=false
GOOGLE_SHEET_ID=
GOOGLE_SHEET_TAB_NAME=Responses
GOOGLE_APPLICATION_CREDENTIALS=
CARD_IMAGE_RETENTION=delete_after_approval
CARD_IMAGE_DIR=./work/card-images
